<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-permissions"
        version="1.0.0">
  <name>Permissions</name>
  <description>Android - iOS permissions support library.</description>
  <author>Jorge Torres</author>

  <engines>
    <engine name="cordova" version=">=7.0.0"/>
    <engine name="cordova-android" version=">=6.3.0" />
  </engines>

  <!-- android -->
  <platform name="android">
    <js-module src="www/permissions-android.js" name="Permissions">
      <clobbers target="cordova.plugins.permissions" />
    </js-module>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Permissions">
        <param name="android-package" value="com.android.plugins.Permissions" />
      </feature>
    </config-file>

    <source-file src="src/android/com/android/plugins/Permissions.java" target-dir="src/com/android/plugins"/>
  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
        <feature name="Permissions">
            <param name="ios-package" value="Permissions" />
            <param name="onload" value="true" />
        </feature>
    </config-file>

    <js-module src="www/permissions-ios.js" name="Permissions">
      <clobbers target="cordova.plugins.permissions" />
    </js-module>

    <header-file src="src/ios/Permissions.h" />
    <source-file src="src/ios/Permissions.m" />

    <!--BEGIN_MODULE LOCATION-->
    <config-file target="config.xml" parent="/*">
      <feature name="CameraAccess">
        <param name="ios-package" value="CameraAccess" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <js-module src="www/ios/permissions.CameraAccess.js" name="CameraAccess">
      <merges target="cordova.plugins.permissions.CameraAccess" />
    </js-module>

    <!--BEGIN_MODULE LOCATION-->
    <config-file target="config.xml" parent="/*">
      <feature name="PictureAccess">
        <param name="ios-package" value="PictureAccess" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <js-module src="www/ios/permissions.PictureAccess.js" name="PictureAccess">
      <merges target="cordova.plugins.permissions.PictureAccess" />
    </js-module>

    <header-file src="src/ios/CameraAccess.h" />
    <source-file src="src/ios/CameraAccess.m" />
    <header-file src="src/ios/PictureAccess.h" />
    <source-file src="src/ios/PictureAccess.m" />
  </platform>

</plugin>